@model CodeTestMvc1.Models.Customer
@{
    ViewBag.Title = "CustomerWithOrderId";
}

<h2>CustomerWithOrderId</h2>

<table>
    <tr>
        <td>Customer ID:</td>
        <td>@Model.CustomerID</td>
    </tr>
    <tr>
        <td>Company Name:</td>
        <td>@Model.CompanyName</td>
    </tr>
    <tr>
        <td>Contact Name:</td>
        <td>@Model.ContactName</td>
    </tr>
    <tr>
        <td>City:</td>
        <td>@Model.City</td>
    </tr>

</table>